:root {
    --bg-body: #f4f6f9;
    --text-color: #333;
    --cor-titulos: #1e3a8a;
    --bg-btn: #eaeaea;
    --card-bg: white;
    --card-border: #e5e7eb;
    --header-color: #1e3a8a;
    --machine-bg: #f9fafb;
    --modal-bg: white;
}

body.dark {
    --bg-body: #0f172a;
    --text-color: #e2e8f0;
    --cor-titulos: #4576fc;
    --bg-btn: #18233f;
    --card-bg: #1e293b;
    --card-border: #334155;
    --header-color: #60a5fa;
    --machine-bg: #273449;
    --modal-bg: #1e293b;
}


/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: background-color 0.3s ease,
        color 0.3s ease,
        border-color 0.3s ease;
}


.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 10;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--bg-body);
    color: var(--text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.container {
    padding: 30px;
}

.topo {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    color: #1e3a8a;
}

.config {
    background: none;
}

.gear {
    width: 40px;
}

.selecionado {
    text-decoration: underline;
    font-weight: 600;
}

.topo h1 {
    font-size: 28px;
    color: var(--cor-titulos);
}
.btn-nav {
    background-color: var(--bg-btn);
    color: var(--cor-titulos);
}
.linhas {
    display: flex;
    justify-content: space-between;
}

.linhas-fracionadas {
    justify-content: start;
    gap: 36px;
}

.linhas-mesma-linha article {
    width: auto;
}

.linhas-fracionadas-sete article {
    width: 12%;
}
.linhas-fracionadas-cinco {
    justify-content: start;
    gap: 36px;
}
.linhas-fracionadas-cinco article {
    width: 15%;
}
.linhas-fracionadas-nove article {
    width: 10%;
}
.linhas-ocultadas {
    display: none;
}


/* Card da Linha */
.linha {
    background: var(--card-bg);
    border: 1px solid var(--card-border);
    transition: background 0.3s ease;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    padding: 15px;
    width: 15%;
    display: flex;
    flex-direction: column;
}

.linha-header {
    border-bottom: 2px solid var(--card-border);
    margin-bottom: 15px;
    padding-bottom: 5px;
}

.linha-header h2 {
    font-size: 20px;
    color: var(--cor-titulos);
}

.horario-intervalo {
    font-size: 0.8em;
    text-align: center;
    padding: 8px 0;
    display: none;
}

/* Container das máquinas */
.maquinas {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* Card máquina */
.maquina {
    background: var(--machine-bg);
    border: 1px solid var(--card-border);
    padding: 10px;
    border-radius: 8px;
    font-size: 14px;
}

.maquina p {
    margin-bottom: 4px;
}

/* Destaque quantidade */
.qtd {
    font-weight: bold;
}

.qtd.alto {
    color: #16a34a;
}

.qtd.medio {
    color: darkorange;
}

.qtd.baixo {
    color: #dc2626;
}

.btn-ver-mais{
    background-color: var(--card-bg);
    color: var(--cor-titulos);
}

/* Botão */
button {
    border: none;
    cursor: pointer;
    color: #1e3a8a;
}

.mostrar-materiais {
    margin-top: 8px;
    padding: 6px;
    border: #2563eb solid 1.4px;
    border-radius: 6px;
    background-color: var(--bg-btn);
    color: var(--cor-titulos);
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 13px;
    font-weight: 600;
}

button:hover {
    opacity: 0.8;
    transform: scale(1.03);
}

/* Remove estilo padrão feio */
dialog {
    background: var(--modal-bg);
    color: var(--text-color);
    border: none;
    border-radius: 12px;
    padding: 0;
    width: 420px;
    max-width: 90%;
    z-index: 20;
    /* ESSENCIAL 👇 */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btn-fechar {
    color: #dc2626;
    background: none;
    font-size: 26px;
    padding: 4px 8px;
}

/* Fundo escurecido automático */
dialog::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

dialog[open] {
    animation: aparecer 0.25s ease;
}

@keyframes aparecer {
    from {
        transform: translate(-50%, -55%) scale(0.95);
        opacity: 0;
    }

    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

.modal-header,
.modal-footer {
    padding: 15px;
    border-bottom: 1px solid var(--card-border);
}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.modal-footer {
    border-top: 1px solid var(--card-border);
    border-bottom: none;
    text-align: right;
}

.modal-body {
    padding: 15px;
}

.close-btn {
    background: none;
    border: none;
    font-size: 22px;
    cursor: pointer;
}

.info-item {
    display: flex;
    gap: 8px;
    margin-bottom: 10px;
    font-size: 14px;
}

.observacao {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}

.observacao textarea {
    background-color: var(--card-border);
    margin-top: 5px;
    height: 80px;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid var(--bg-body);
    resize: none;
    color: var(--text-color);
}

.btn-salvar {
    margin-top: 8px;
    padding: 6px;
    border: none;
    border-radius: 6px;
    background-color: #2563eb;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 13px;
}

.btn-fechar--foter {
    margin-top: 8px;
    padding: 6px;
    border: none;
    border-radius: 6px;
    background-color: #dc2626;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;
    font-size: 13px;
}

.toast {
    position: fixed;
    bottom: 30px;
    right: 30px;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease;
    pointer-events: none;
    z-index: 999;
}

/* Estado visível */
.toast.sucesso {
    opacity: 1;
    transform: translateY(0);
    background: #16a34a;
}

.toast.erro {
    opacity: 1;
    transform: translateY(0);
    background: #dc2626;
}

.toast.aviso {
    opacity: 1;
    transform: translateY(0);
    background: darkorange;
}

.toast.informacao {
    opacity: 1;
    transform: translateY(0);
    background: #ccc;
    color: black;
}

.modal-config {
    border: none;
    border-radius: 12px;
    padding: 0;
    width: 600px;
    max-width: 95%;
}

.modal-config::backdrop {
    background: rgba(0, 0, 0, 0.6);
}

.modal-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

fieldset {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
}

.display-config {
    display: flex;
    gap: 10px;
}

.layout-config {
    display: flex;
    flex-direction: column;
}

legend {
    font-weight: bold;
    font-size: 1.1em;
}


.grid-linhas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px 16px;
    margin-top: 6px;
}

.range-wrapper {
    display: flex;
    align-items: center;
    gap: 12px;
}

.botoes-modal {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.botoes-modal button {
    padding: 8px 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background-color: var(--card-border);
    color: var(--text-color);
}

.desabilitado {
    color: lightgray;
}

.spinner-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display: none;
}

.loader {
    width: 60px;
    height: 60px;
    border: 6px solid #e5e7eb;
    border-top: 6px solid #2563eb;
    border-radius: 50%;
    animation: girar 1s linear infinite;
}

@keyframes girar {
    to { transform: rotate(360deg); }
}